{
  "Apps": [
    "Microsoft.WindowsCalculator",
    "Microsoft.WindowsCamera",
    "Clipchamp.Clipchamp",
    "Microsoft.WindowsAlarms",
    "Microsoft.549981C3F5F10",
    "Microsoft.WindowsFeedbackHub",
    "microsoft.windowscommunicationsapps",
    "Microsoft.WindowsMaps",
    "Microsoft.ZuneMusic",
    "Microsoft.ZuneVideo",
    "Microsoft.BingNews",
    "Microsoft.Windows.Photos",
    "MicrosoftTeams",
    "Microsoft.Todos",
    "Microsoft.MicrosoftOfficeHub",
    "Microsoft.Paint",
    "Microsoft.People",
    "Microsoft.PowerAutomateDesktop",
    "MicrosoftCorporationII.QuickAssist",
    "Microsoft.ScreenSketch",
    "Microsoft.MicrosoftSolitaireCollection",
    "SpotifyAB.SpotifyMusic",
    "Microsoft.MicrosoftStickyNotes",
    "Microsoft.Getstarted",
    "Microsoft.WindowsSoundRecorder",
    "Microsoft.BingWeather",
    "Microsoft.BingSearch",
    "Microsoft.Copilot"
  ]
}
