[
    {
        "app_name":  "FileZilla",
        "filename":  "FileZilla_3.65.0_win64_sponsored2-setup.exe",
        "download_url":  "https://download.filezilla-project.org/client/FileZilla_3.65.0_win64_sponsored2-setup.exe"
    }
]
